.barra-degradada {
  height: 11px;
  background: linear-gradient(to right, #1f2671, #0080ff);
}

.bg-nosotros{
  background-color: #ECE9E7;
}

.bg-tpgaming{
  background-color: #918E81;
}

.espacio{
  padding: 100px 0px 100px 0px;
}

.bg-sedes{
  background-color: #434343;
}

.bg-servicios{
  background-color: #ECE9E7;
}

.bg-ayuda{ 
  background-color: #4D3293;
}

.bg-contacto{
  background-color: #414141;
}

.bg-footer{
  background-color: #333333;
}

/* Tamaño fijo de miniaturas y centrado */
.swiperThumbs .swiper-slide {
  width: 20%;               /* 5 miniaturas en línea */
  cursor: pointer;
}
.swiperThumbs .swiper-slide img {
  opacity: 0.6;
  transition: opacity .3s;
}
.swiperThumbs .swiper-slide-thumb-active img {
  opacity: 1;
}


/* .swiperCard{
  padding: 30px 0;
}

.swiperCard .swiper-slide{
  height: auto;
  display: flex;
  align-items: stretch;
}

.swiperCard .card{
  height: 100%;
} */


.swiperCard {
  padding: 30px 0;
}

.swiperCard .swiper-slide {
  height: auto;
  display: flex;
  align-items: stretch;
}

.swiperCard .card {
  height: 100%;
}

.swiperBtnCustom {
  color: #000;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: -10px;
}

.swiper-button-next {
  right: -10px;
}



/* .custom-nav {
  bottom: -1000px;
  top: auto;
  color: black;
  font-size: 32px;
  width: auto;
  height: auto;
  position: absolute;
}

.swiper-button-prev.custom-nav {
  left: 40%;
}

.swiper-button-next.custom-nav {
  right: 40%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 32px;
} */

/* galeria */
.swiperGallery {
  padding: 30px 0;
}

.swiperGallery .swiper-slide {
  width: auto;
  max-width: 800px; /* Ajusta según el diseño */
  transition: transform 0.5s ease;
  margin: 0 10px;
}

.swiperGallery img {
  max-height: 500px;
  object-fit: cover;
}

.swiperBtnImg {
  color: #000;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev.swiperBtnImg {
  left: -20px;
}

.swiper-button-next.swiperBtnImg {
  right: -20px;
}

.galeria-img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  border-radius: 10px;
}

/* Zoom solo en slide activo y centrado */
.swiper-slide-active .galeria-img {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


.bg-contacto {
  background-color: #2f2f2f; /* Color gris oscuro */
}

.bg-primary {
  background: linear-gradient(90deg, #1e3080, #0670b7);
}

footer a:hover {
  text-decoration: underline;
}

.footer-title {
  position: relative;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-title::after {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  background: linear-gradient(90deg, #1e3080, #0670b7);
  margin-top: 3px;
}
